---
http_interactions:
- request:
    method: get
    uri: https://eu.api.battle.net/wow/user/characters?access_token=nfpead9ubmch2f2g5xt4gxxh&locale=en_GB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-GB
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-30.mashery.com
    body:
      encoding: US-ASCII
      string: ! '{"characters":[{"name":"Ragwolf","realm":"Stormscale","battlegroup":"Vengeance
        / Rache","class":1,"race":22,"gender":0,"level":7,"achievementPoints":0,"thumbnail":"winterhuf/164/69857188-avatar.jpg"},{"name":"Brogue","realm":"Thunderhorn","battlegroup":"Misery","class":4,"race":5,"gender":0,"level":88,"achievementPoints":8495,"thumbnail":"wildhammer/48/92008240-avatar.jpg","spec":{"name":"Combat","role":"DPS","backgroundImage":"bg-rogue-combat","icon":"ability_backstab","description":"A
        swashbuckler who uses agility and guile to stand toe-to-toe with enemies.","order":1},"guild":"GCHQ","guildRealm":"Thunderhorn"},{"name":"Bestideus","realm":"Wildhammer","battlegroup":"Misery","class":1,"race":22,"gender":1,"level":2,"achievementPoints":0,"thumbnail":"wildhammer/114/105715314-avatar.jpg"},{"name":"Ringwraith","realm":"Thunderhorn","battlegroup":"Misery","class":6,"race":2,"gender":0,"level":85,"achievementPoints":8085,"thumbnail":"wildhammer/110/92019566-avatar.jpg","spec":{"name":"Frost","role":"DPS","backgroundImage":"bg-deathknight-frost","icon":"spell_deathknight_frostpresence","descrip[...]
